div #arrowleft {
	margin: 100px;
	height: 20px;
	width: 100px;
	background-color: black;
	transform: rotate(-45deg);
}

div #arrowright {
	margin: 100px;
	height: 20px;
	width: 100px;
	background-color: black;
	transform: rotate(45deg);
}
