body {
	margin-top: 100px;
}

span {
}

#arrowleft {
	padding: 0px;
	margin: 0px;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	background-color: black;
	transform: rotate(-45deg);
}

#arrowright {
	padding: 0px;
	margin: 0px;
	border-radius: 50%;
	height: 200px;
	width: 30px;
	background-color: black;
	transform: rotate(45deg);
}
