body {
	margin-top: 100px;
}

span {
	display: flex;
	flex-direction: row;
}

#arrowleft {
	margin: 0px;
	border-radius: 50%;
	height: 20px;
	width: 100px;
	background-color: black;
	transform: rotate(-45deg);
}

#arrowright {
	margin: 0px;
	border-radius: 50%;
	height: 20px;
	width: 100px;
	background-color: black;
	transform: rotate(45deg);
}
