span {
	display: flex;
	justify-content: flex-start;
	align-items: initial;
}

#arrowleft {
	margin-top: 100px;
	height: 20px;
	width: 100px;
	background-color: black;
	transform: rotate(-45deg);
}

#arrowright {
	margin-top: 100px;
	height: 20px;
	width: 100px;
	background-color: black;
	transform: rotate(45deg);
}
